$white: #ffffff;
$whitesmoke: #f9f9f9;
$black: #000000;
$light-black: #111111;
$blue: #1877f3;
$dark-blue: #0966de;
$red: #cf3c3f;
$dark-red: #bc252a;
$light-grey: #ededed;
$grey: #c4c4c4;
$medium-grey: #9c9c9c;
$deep-grey: #343434;
